body {
	font-family: 'Montserrat, sans-serif';
  background-color: #71797E;
}
 
.big-heading {
	font-family: 'Montserrat-Black';
	font-size: 3.5rem;
	font-weight: 900;
	line-height: 1.5;
}

.score-text {
	color: #fff;
	font-family:'Times New Roman', Times, serif;
	font-size: 2.5rem;
	font-weight: 600;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;
}

.container-fluid {
  color: #FF5733;
	padding: 10% 15% 35%;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid > p {
  color: #fff;
}

#b_music, #bd_attack, #o_restart, #bd_restart, #o_combat, #bd_combat {
	visibility: hidden;
}

.bunker {
	display: none;
}
