<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'hello')}">
<body>
<div class="container">
    <h1>TUTORIAL</h1>

    <h3>Beginning Plot:</h3><br>
    <p>The world has ended, all of the world’s superpowers have crumbled and there’s little humanity remaining. <br>
        This occurred in the year 2099. A viral disease wiped out a great amount of people and amidst the pandemic <br>
        people that maintained many nuclear silos left them unattended to. This resulted in their instability and <br>
        eventual destruction resulting in the world you will find out today. Before this all happened your great <br>
        grandparents warned you this very well could happen. They lived through something similar over 50 years ago. <br>
         Somehow they knew something like this would happen again. Taking their insight you had a bomb shelter made <br>
         and stocked full of supplies in case this happened. On the fateful day of November 26th 2099 all of the <br>
         unattended nuclear bombs went off all over the planet and ravaged the countries. Luckily for you, you stayed <br>
         in your bomb shelter all alone since you expected something like this might happen when the pandemic started. <br>
         It’s been 3 months since then and you’re low on food and water. You have 2 bottles of water, and 2 rations of <br>
         food remaining. It’s time for you to reemerge into the ravaged world to seek out food and water.</p> <br>

         <button class="btn btn-dark" ><a href="/start.html">SKIP TUTORIAL</a></button>

         <h2>Tutorial:</h2><br>
         <p>Welcome to Cursor Adventure. This is a post apocalyptic text based adventure game. Your goal is to find food, <br>
             water, protection, and eventually new shelter. The world is open for you to explore and interact with. Be sure <br>
             to try all of your ideas since it could be life or death for you out in the wasteland.</p><br>
        
        <h3>Interacting:</h3><br>
        <h4><strong>LOOK</strong></h4><br>
        <p>There’s many ways you can interact with the world. Looking is one of the main fundamentals in text based adventure games. <br>
           Every room, item and object in each room has descriptions when you look at them. You can say “LOOK ROOM” and you’ll get a reprompt for the current room you’re in.</p><br>

        <h4><strong>LOOK</strong></h4><br>
        <p>There’s many ways you can interact with the world. Looking is one of the main fundamentals in text based adventure games. <br>
        Every room, item and object in each room has descriptions when you look at them. You can say “LOOK ROOM” and you’ll get a reprompt for the current room you’re in.</p><br>

      
           
   
   

        
        <button class="btn btn-dark" ><a href="/start.html">START GAME</a></button>


</div>
</body>
</html>